![INTTRVU_logo_Jupyter_notebook.jpg](attachment:648ea659-7592-45c1-bd76-18800c6768cd.jpg)

In [ ]:
 ### Please name your assignment file using the following format: Your Name_Assignment_Assignment Number. EX: INTTRVU_Assignment_1

# kindly perform coding in the blank cells provided below the questions. Once completed, please share this python file for review on mentor@inttrvu.ai

### 1. Create a list with numbers 1 to 10 in it ([1,2,3â€¦.10]) Write a for loop on this list to sum up all numbers in the list except 5 and 7. Print the result

In [54]:
li = [x for x in range(1,11)]
li
sum2 = 0
for number in li:
  if number != 5 and number != 7:
    sum2 += number

print(sum2)

43

In [53]:
li = list(range(1,11))
li
sum1 = 0
#taking excluding number from user
exclude_num = list(map(int,input("Enter numbers between 1 to 10 which should exclude sum: ").split()))
for number in li:
  if number not in exclude_num:
    sum1 += number

sum1

Enter numbers between 1 to 10 which should exclude sum: 2 5

48

### 2. Write a while loop to create a list with numbers from 1 to 100. When inserting new number in the list, skip every number which is divisible by 3. Print the result. Tip: To check whether number is divisible by 3 you can use % operator

In [43]:
li = []
n = 1
while(n<=100):
  if not n % 3 == 0:  #omitting the numbers which are divisible by 3
    li.append(n)
  n = n+1 #incrementing the initializer
print(li,end = " ")

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25, 26, 28, 29, 31, 32, 34, 35, 37, 38, 40, 41, 43, 44, 46, 47, 49, 50, 52, 53, 55, 56, 58, 59, 61, 62, 64, 65, 67, 68, 70, 71, 73, 74, 76, 77, 79, 80, 82, 83, 85, 86, 88, 89, 91, 92, 94, 95, 97, 98, 100]

### 3. Write a program that prints the first 10 natural numbers.

In [44]:
for number in range(1,11):
  print(number,end = " ")

1 2 3 4 5 6 7 8 9 10

### 4.Write a python code to print the summation of all the numbers from 1 to 100

In [56]:
numbers = list(range(1,101))
#numbers
del sum
print(sum(numbers))

5050

### 5.Write a Python program to find the common elements between two lists.
list1 = [11,2,190,43,23,65,19] list2 = [12,11,121,190,43,23,76,190]

In [62]:

list1 = [11,2,190,43,23,65,19]
list2 = [12,11,121,190,43,23,76,190]
common_elements = list(set(list1) & set(list2))  #& is intersection
common_elements

[43, 11, 190, 23]

In [60]:
list1 = [11,2,190,43,23,65,19]
list2 = [12,11,121,190,43,23,76,190]
l = []
for i in list1:
  for j in list2:
    if i not in l:
      if i == j:
        l.append(i)

print(l)

[11, 190, 43, 23]

In [63]:
#using list comprehension
list1 = [11,2,190,43,23,65,19]
list2 = [12,11,121,190,43,23,76,190]
common_elements = [num for num in list1 if num in list2]
common_elements = list(set(common_elements))
common_elements

[43, 11, 190, 23]

### 6.Write a python code to create separate lists of Even and Odd numbers from a list. [21,44,22,878,55,90,17,68,69,91]

In [74]:
li = [21,44,22,878,55,90,17,68,69,91]
odd_li = []
even_li = []

for num in li:
  if num & 1 == 0:  #The last bit of every even number is 0, so we are using this method
    even_li.append(num)
  else:
    odd_li.append(num)  #the last bit of every odd number is 1

print(odd_li,even_li)

[21, 55, 17, 69, 91] [44, 22, 878, 90, 68]

In [75]:
li = [21,44,22,878,55,90,17,68,69,91]
odd_li = []
even_li = []

for num in li:
  if num % 2 == 0:
    even_li.append(num)
  else:
    odd_li.append(num)

print(odd_li,even_li)

[21, 55, 17, 69, 91] [44, 22, 878, 90, 68]

### 7.Calculate the sum of all numbers in a list using a loop. [21,44,767,98,37]

In [68]:
s = 0
li =  [21,44,767,98,37]
for i in li:
   s += i
print(s)
sum(li)  #sum method to sum all the elements of the list

967

967

### 8. Write a python code to check if a number is positive, negative, or zero.

In [72]:
#using right shift in bitwise
num = int(input("Enter number : "))
if num >> 31 == 0:
  print("Positive")
elif num >> 31 == -1:
  print("Negative")
else:
  print("zero")

Enter number : -3
Negative

In [69]:
#regular method
num = int(input("Enter number : "))
if num == 0:
  print("Zero")
elif num < 0:
  print("Negative")
else:
  print("Positive")

Enter number : -22
Negative

### 9. Find the length of the longest word in a string: â€˜Data Science and Machine Learningâ€™

In [33]:
s = input("Enter string: ")
longest_word_length = 0
current_word_length = 0

for char in s:
  if char != " ":
    current_word_length += 1

  else:
    if current_word_length > longest_word_length:  #checking if current word length > longest word length
      longest_word_length = current_word_length
    #print(current_word_length) #returns the length of the current word
    current_word_length = 0  #resetting the current word length
#print(current_word_length)  #gives the length of word which is at the end of the string by without any space at the end
#final check for the last word coz if the string doesn't end with space
if current_word_length > longest_word_length:
  longest_word_length = current_word_length
print("The length of the longest word in a string is : ",longest_word_length)

Enter string: Data Science and Machine Learning techniques
The length of the longest word in a string is :  10

### 10.Write a program to calculate the sum of squares of all numbers from 1 to 10 using a while loop.

In [37]:
s = 0
for num in range(1,11):
  sq = num * num
  s = s + sq
print(s)

385