### 1. Create two numbers. One float another integer. Add two numbers and print the result in integer format.

In [ ]:
#created two numbers as A and B
A = 10.10
B = 20
print(A + B)  #Implicit Conversion has been done here
print(int(A+B))
print(type(B))

30.1
30
<class 'int'>

### 2. “i live in india since my childhood”. Count number of 'i' in this text

In [ ]:
s = "i live in india since my childhood"
count = 0
for char in s:
  if char == "i":
      count += 1

print("The count number of i is ": count)

7

### 3. How do you check if a variable is of a certain data type in Python?

In [ ]:
#In python, we use type() functin to check the data type of a particular variable
#Example:
a = 10
print(type(a))
print(type(10.10))
print(type("Hello"))
li = ["sai",1,4.4,2+3j,True]
print(type(li))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>

### 4. Write a python code to find last 4 characters of a string : 'Machine Learning'

In [ ]:
s = "Machine Learning"

print(s[12:16])
print(s[-1:-5:-1])

ning
gnin

### 5. Write a python code to remove blank space from string : 'P y t h o n'

In [ ]:
s = "P y t h o n"
t = ""
for i in s:
  if i != " ":
    t = t + i
print(t)


s = s.replace(" ","")
print(s)

Python
Python

### 6.Write a python code to remove trailing space from string: ‘Machine Learning. ’

In [ ]:
s = "Machine Learning   "
end_index = len(s) - 1
while end_index >= 0 and s[end_index] == ' ':
  end_index = end_index - 1

print(end_index)
print(s[:end_index+1])

15
Machine Learning

In [ ]:
s = "Machine Learning   "
end_index = -1
for i in range(len(s)):
  if s[i] != " ":
    end_index = i

t = ""
for i in range(end_index + 1):
  t = t + s[i]

print(t)

Machine Learning

### 7. Write a python code to check given character is digit or not : 265

In [ ]:
num = 256
while(num >= 0):
  digit = num % 10
  if 48 < digit+48 < 57:
    print(digit)
    print("digit")


  else:
    print("Not digit")

6
digit

Digits (48-57):
48-57: Digits 0 through 9.
Uppercase Letters (65-90):
65-90: Uppercase letters A through Z.
Lowercase Letters (97-122):
97-122: Lowercase letters a through z.
There is always a difference of 32 between Uppercase letters and Lowercase letters

### 8. Write a python code to Convert a string to lowercase : ‘MACHINE LEARNING’

In [ ]:
s = 'MACHINE LEARNING'
s.lower()
print(ord('M'))
print(ord('A'))
print(chr(ord('A') + 32))

77
65
a

In [ ]:
def to_lowercase(s):
  lowercase_string = ""
  for char in s:
    if ord(char) >=65 and ord(char) <=90:
      lowercase_string = lowercase_string + chr(ord(char) + 32)
    else:
      lowercase_string = lowercase_string + char

  return lowercase_string


s = input("Enter string: ")
res = to_lowercase(s)
res

Enter string: HELLO

'hello'

### 9.Write a python code to count the number of occurrences of a character ‘e’ in a string. ‘Machine Learning and Deep Learning’

In [ ]:
s = "Machine Learning and Deep Learning"
c = 0
for i in s:
  if i == "e":
    c = c + 1
print(c)

5

### 10. Write a python code to check if a string contains only alphabetic characters. String = ‘HelloPython’

In [ ]:
def only_alpha(s):
  for char in s:

    if not ((ord(char) >= 65 and ord(char) <= 90) or (ord(char) >= 97 and ord(char) <= 122) or (char == ' ')):
      return False  #if any character is not alphabetic, return false

  return True  #if all characters are alphabetic, return true



s = input("Enter string: ")
print(s)
'''for i in s:
  print(ord(i))'''
only_alpha(s)

Enter string: Hello python
Hello python

True

### 11. calculate the absolute value of a number -564

In [ ]:
#the abs() functions returns the absolute value of the given number, which is non-negative value of the number without regards to its sign..
#eg: -564, then the absolute value is 564
num = -564
absolute_value = abs(num)

print("The absolute value of",num,"is",absolute_value)

The absolute value of -564 is 564

In [ ]:
num = int(input("Enter number : "))
if num < 0:
  absolute_value = -num

else:
  absolute_value = num

print(absolute_value)

Enter number : 568
568

### 12. Create a list with numbers 1 to 10 and sort it in ascending and descending order.

In [ ]:
def ascending_order(li):
  for i in range(len(li)):
    for j in range(i+1,len(li)):
      if li[i] > li[j]:
        li[i],li[j] = li[j],li[i]
  print(li)

def descending_order(li):
  for i in range(len(li)):
    for j in range(i+1,len(li)):
      if li[i] < li[j]:
        li[i],li[j] = li[j],li[i]
  return li

li = [2,3,8,1,5,4,6,7,9]
ascending_order(li)
descending_order(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

### 13. data = [1,2,3,4,6,7,7,8,9,9]. Drop duplicate values from this list and print the remaining numbers

In [ ]:
data = [1,2,3,4,6,7,7,8,9,9]
print(set(data))

for i in data:
  if i not in set(data):
    print(i)

{1, 2, 3, 4, 6, 7, 8, 9}

### 14.Write a python code to find the second largest number in a list: [21,44,767,98,37,106,345,87]

In [ ]:
li =  [21,44,767,98,37,106,345,87]
li.sort()
li
li.pop()
li
li[-1]

345

In [ ]:
li =  list(map(int,input("Enter integer: ").split(' ')))
largest = 0
secondlargest = 0
for ele in li:
  if ele > largest:
    secondlargest = largest
    largest = ele

  elif ele > secondlargest and ele != largest:
    secondlargest = ele


print(secondlargest)

Enter integer: 2 3 5 2
3

### 15.Write a Python program to find the maximum and minimum values in a list. list1 = [ 21,44,767,98,37]

In [ ]:
 list1 = [ 21,44,767,98,37]
 print(max(list1))
 print(min(list1))

767
21

In [ ]:
li = list(map(int,input("Enter elements with space separated: ").split(' ')))
min = li[0]
max = li[0]
for i in range(len(li)):
  if li[i] < min:
    min = li[i]


for i in range(len(li)):
  if li[i] > max:
    max = li[i]

print(min,max)

Enter elements with space separated: 2 3 4 5 8 2 4 1 3 8 0
0 8

### 16. Create two separate dictionaries and Merge them.

In [ ]:
Student = {'Name' : 'Bob', 'Age' : 21}
Course = {'Course' : 'Data Science and Analytics', 'fee' : 0}
print(Student,Course)
merged_dict = {}
for key in Student:
  merged_dict[key] = Student[key]

for key in Course:
  merged_dict[key] = Course[key]

print(merged_dict)

{'Name': 'Bob', 'Age': 21} {'Course': 'Data Science and Analytics', 'fee': 0}
{'Name': 'Bob', 'Age': 21, 'Course': 'Data Science and Analytics', 'fee': 0}

### 17. Write a Python program to create a dictionary where keys are integers from 1 to 5 and corresponding values are their squares.

In [ ]:
squares_dict = {}
for i in range(1,6):
  squares_dict[i] = i*i

print(squares_dict)

#printing the keys with respected values
for i in squares_dict:
  print(i,squares_dict[i])

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
1 1
2 4
3 9
4 16
5 25

### 18. Create a Python dictionary with keys as cars and values as their respective prices.
car_models = ["Toyota Camry", "Honda Civic", "Ford Mustang", "Chevrolet Silverado", "Nissan Altima"]
car_prices = [2500000, 2200000, 4000000, 3500000, 2300000]

In [4]:
car_models = ["Toyota Camry", "Honda Civic", "Ford Mustang", "Chevrolet Silverado", "Nissan Altima"]
car_prices = [2500000, 2200000, 4000000, 3500000, 2300000]

di = {}
for car_model in car_models:
  for car_price in car_prices:
    di[car_model]= car_price

print(di)

{'Toyota Camry': 2300000, 'Honda Civic': 2300000, 'Ford Mustang': 2300000, 'Chevrolet Silverado': 2300000, 'Nissan Altima': 2300000}

### 19.Create a dictionary with 5 key pair values. Key would be a grocery item name and value will be its price (any value in the range of 10 to 1000). (take any grocery items) Write a for loop to iterate over a dictionary and print key-value pairs. While printing if the value is greater Rs. 500 then print a line – “this is a costly item.”

In [20]:
grocery_items = {
    'rice' : 450,
    'wheat' : 600,
    'milk' : 800,
    'BRU' : 300,
    'Boost' : 700
}

grocery_items.items()
grocery_items.keys()
grocery_items.values()

for item,price in grocery_items.items():
  print(f"{item} is Rs. {price}")
  if price > 500:
    print(f"{item} is a costly item")

rice is Rs. 450
wheat is Rs. 600
wheat is a costly item
milk is Rs. 800
milk is a costly item
BRU is Rs. 300
Boost is Rs. 700
Boost is a costly item

### 20. In the dictionary created in above task delete the key value pairs where price is less than average price of all the items in the dictionary.

In [41]:
grocery_items = {
    'rice' : 950,
    'wheat' : 50,
    'milk' : 40,
    'BRU' : 650,
    'Boost' : 120
}

total_sum = 0
for price in grocery_items.values():
  total_sum += price

avg_price = total_sum/len(grocery_items)

keys_to_delete = [key for key,value in grocery_items.items() if value < avg_price]

for key in keys_to_delete:
  del grocery_items[key]

print(grocery_items)

{'rice': 950, 'BRU': 650}

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
list1 = [1,2,3]
list2 = list1

list1[0] = 9
list2.append(4)   #ist2 is assigned to list1. This means that both list1 and list2 now refer to the same list in memory. They are not two separate lists but two references to the same object.
print(list1,list2)

[9, 2, 3, 4] [9, 2, 3, 4]